<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation Suite">
    <test name="Reqres API Tests">
        <classes>
            <class name="tests.GetUserTest"/>
            <class name="tests.CreateUserTest"/>
            <class name="tests.NegativeTest"/>
        </classes>
    </test>
</suite>
